<% method = local_assigns.fetch(:method, :get) %>

<%= link_to path, class: "action", method: method do %>
  <span class="mr-4"><%= caption %></span>
  <%= evil_icon icon, size: :s, class: "arrow" %>
<% end %>
